<p>
  <h1><%= @book.title %></h1>
  <%= link_to 'Delete Book', @book, method: :delete, class: "link-in-header",data: { confirm: 'Are you sure?' } %>
</p>

<h3>Chapters</h3> <%= link_to 'Add Chapter', new_chapter_path(book: @book.id) %>
<br>

<% @book.chapters.each do |chapter| %>
  <p><%= link_to "Chapter #{ chapter.number } #{ chapter.title}", chapter_path(chapter) %> | <%= link_to 'Edit Title', edit_chapter_path(chapter), id: "chapter-#{chapter.number}" %>
  <% if (chapter == @book.chapters.last) %>
    <%= link_to 'Delete Chapter', chapter_path(chapter), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %></p>
<% end %>

<br>
<%= link_to 'Edit Book Title', edit_book_path(@book) %> |
<%= link_to 'Book Index', books_path %>