<h1><%= @chapter.book.title %></h1>
<h2>Chapter <%= @chapter.number %> Discussion</h2>
<%= link_to 'New Post', new_post_path(chapter: @chapter) %>
<% @chapter.posts.each do |post| %>
  <p><%= post.content %></p>
<% end %>

<%= link_to "Chapter Index", book_path(@chapter.book) %>