<h1>New Post</h1>

<%= form_with model: @post do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
    <%= form.hidden_field :chapter_id, value: @chapter.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>